* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;


}
#title{
text-align: center;
    text-decoration: underline;
    text-decoration-color: deeppink;
    color: blue;
}



.case{

     border-style:solid;
    font-size: 10rem;
    height: 15rem;
    width: 50rem;

}

#content_lines{
font-size: 5rem;
}

#line_1_o,#line_2_o,#line_3_o{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10rem;
    width: 40%;
    justify-content:space-around;

}

#line_1_2_3_o{
    margin-top: -42rem;
}

#line_1_x,#line_2_x,#line_3_x{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10rem;
    width: 40%;
    justify-content:space-around;

}

#line_1_2_3_x{
    margin-top:-30rem;
}

